<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_KRJciK69KM52jJsKUOMRlkPLzfGcdF4</string>
	<key>GCM_SENDER_ID</key>
	<string>397504313664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zelqoplm.mbnxgame</string>
	<key>PROJECT_ID</key>
	<string>forest-feast</string>
	<key>STORAGE_BUCKET</key>
	<string>forest-feast.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397504313664:ios:de5bea280a8079d186e2a5</string>
</dict>
</plist>